body{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
/*Ocultar los elementos <input>*/
input[type='checkbox'],
input[type='reset']{
    display: none;
}
form {
    margin: 20px;
  }
/*Para que cada muñeca esté una detrás de la otra y ocultas*/
label{
    position: absolute;
    opacity: 0;
}

.doll{
    width: 100px;
    height: 100px;
}
.doll0{
    width: 100px;
    height: 200px;
    z-index: 4;
}
.doll1{
    width: 80px;
    height: 160px;
    z-index: 3;
}
.doll2{
    width: 60px;
    height: 120px;    
    z-index: 2;
}
.doll3{
    width: 40px;
    height: 80px;
    z-index: 1;
}
.doll__body{
    width: 100%;
    height: 30%;
}
.doll--top img{
    width: 100%;
}
.doll--bottom img{
   width: 100%;
}

/*Para darle click a la cajita y que la parte superior se desplace hacia arriba y la parte inferior se desplace hacia abajo, debemos:
    Usar la pseudoclase :checked para identificar cuando está checkeada cajita.
    Usar el selector de + para identificar la parte superior o inferior del primer label y desplazarlo
*/

input:checked + label .doll--top{
    animation: up 0.3s forwards;
}

/*Aquí lo que estamos haciendo es diciéndole que empiece en la posición 0 (from) y se traslade la misma cantidad de píxeles que mide hacia arriba (to) durante 0.3 segundos y se quede en la posición final (forwards).*/
@keyframes up{
    from{ transform: translateY(0); }
    to { transform: translateY(-100%); }
}


/*Para la parte final*/
input:checked + label .doll--bottom{
    animation: down 0.3s forwards;
}

@keyframes down{
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}
/*Para poder mostrar la caja que está inmediatamente detrás de la caja clickeada*/
/*Lo que estamos diciendo aquí es definir que wl <label> que está después del <input> que está después del <label> que está después del primer <input> clickeado del <form> debe tener una opacidad de 1.
 Siempre se lee de atrás para adelante.*/

 form input:nth-child(1):checked + label + input + label {
    opacity: 1;
    animation: move1 0.3s forwards;
}
@keyframes move1{  /*desplazar caja interna hacia la derecha*/
    from { transform: translateX(0);}
    to { transform: translateX(100px);}
}

form input:nth-child(3):checked + label + input + label{
    opacity: 1;
    animation: move2 0.3s forwards;
}
@keyframes move2{
    from { transform: translateX(100px);}
    to { transform: translateX(200px);}
}

form input:nth-child(5):checked + label + input + label{
    opacity: 1;
    animation: move3 0.3s forwards;
}
@keyframes move3{
    from { transform: translateX(200px);}
    to { transform: translateX(300px);}
}

